* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#api {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr); 
  place-items: center; 
  overflow: scroll;
}
#api::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 1180px) {
    #api {
        grid-template-columns: repeat(2, 0.5fr);
    }

}
@media screen and (max-width: 1488px) {
    #api {
        grid-template-columns: repeat(3, 0.5fr); 
    }

}
@media screen and (max-width: 1130px) {
    #api {
        grid-template-columns: repeat(2, 0.5fr); 
    }

}
@media screen and (max-width: 796px) {
    #api {
        grid-template-columns: repeat(1, 1fr); 
    }

}

.container {
  background: rgb(255, 255, 255);
  height: 400px;
  width: 350px;
  border-radius: 10px;
  padding: 1rem;
}

.img {
  background-color: rgb(255, 255, 255);
  height: 75%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  background-size: contain;
background-repeat: no-repeat;
background-position: center;
  transition: 2s ease;
}

.img-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(72, 72, 72, 0.473);
  border-radius: 0 0 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  display: none;
  transition: 2s ease;
  color: white;
  overflow: scroll;
}
.img-details::-webkit-scrollbar {
  display: none;
}
.img-details ul li span {
  list-style-type: none;
}
.img-details ul li {
  list-style: none;
}

.img:hover .img-details {
  display: block;
  transition: 2s;
}

.info {
  background-color: rgba(186, 186, 186, 0.404);
  height: 25%;
  border-radius: 10px;
 
}

.challange {
  height: 50%;
  font-size: 1rem;
  padding: 1rem;
}

.challange span {
  width: 50%;
}
